extends ../template/layout
include ../mixins/form-helper

block content
  #musiciansIndexPage
    .row
      .small-2.columns#sideNav
        a(href="#")
          .button.small.radius.expand#createProfileButton Create my profile
          //-.button.small.radius.expand#createProfileButton(class=user ? 'hidden' : '') Create my profile
        a(href="#")
          .button.small.radius.expand#editProfileButton Edit my profile
          //- .button.small.radius.expand#editProfileButton(class=user ? '' : 'hidden') Edit my profile
        a(href="#")
          .button.small.radius.expand#searchMusiciansButton Search Musicians
        #musiciansBlurb
          p <strong>MusicLync</strong> helps musicians get together, believing that the more you practice with different people, the more skillful you will become. From here you can create and edit your own profile, or search for others to play with based on whatever criteria you choose.


          //-hidden forms & map:
      .small-10.columns
        include ../home/authentication-form
        include profile-form
        .row
          .small-8.columns
            #musicians-map-canvas.hidden
          .small-4.columns
            include search-form
        include searchAttributes-form

        .row
          #successNotifier.hidden
            .small-12.columns
              h5#success.hidden Success! You have just created your profile. What would you like to do now?
              h5#successUpdate.hidden Success! You have just updated your profile. What would you like to do now?
              h5#successDelete.hidden Success! You have just deleted your profile. What would you like to do now?
            .row
              .small-6.columns
                a.successbutton(href="/musicians")
                  .button.small.radius.expand#browseAllMusicians Browse all musicians
              .small-6.columns
                a.successbutton#ViewMyProfileLink(href="#")
                  .button.small.radius.expand View my profile



        #musicians
          include musicians
