extends ../template/layout
include ../mixins/form-helper

block content
  #musiciansShowPage
    .row
      .small-2.columns
        img(src=musician.photoUrl)
      .small-4.columns
      .small-6.columns
        #map-canvas
