extends ../template/layout
include ../mixins/form-helper

block content
  #homePage
    .row
      .small-12.columns
        include authentication-form
    //- .row
    //-   .small-12.columns
    //-     #the-application(class=user ? '' : 'hidden')
    .row#homePageImageWrapper
      .small-12.columns
        .row
          .small-4.columns
            a#musicians(href="/musicians")
              img.homeImage(src="/images/musician.jpg", alt="musician portal")
                p Musician
          .small-4.columns
            section#homeText
              h6
              h6 choose what you are
              h6 or what you want
              p Musician | Band | Venue | Manager | Industry
              //- p MusicLync's core purpose is to link musicians to play together, promote diversity of practice experience.
          .small-4.columns
            a(href="/bands")
              img.homeImage(src="/images/band.jpg", alt="band portal")
                p Band
        .row
          .small-4.columns
            a(href="/venues")
              img.homeImage(src="/images/venue.jpg", alt="venue portal")
                p Venue
          .small-4.columns
            a(href="#")
              img.homeImage(src="/images/manager.png", alt="manager portal")
                p Manager
          .small-4.columns
            a(href="#")
              img.homeImage(src="/images/industry.jpg", alt="industry portal")
                p Industry
