footer(class="row")
  small-12.columns
    hr
  .row
    small-6.columns
      p(class='left') © Gabrielle Epstein 2013.
      a(href="http://www.linkedin.com/in/drgabrielleepstein")
        img(src="/images/linkedin.png" alt="linkedin" class="gabrielleLinks")
      a(href='https://github.com/doctorgabi/MusicLync')
        img(src="/images/github.png" alt="github" class="gabrielleLinks1")
      a(href='https://twitter.com/DrGabiEpstein')
        img(src="/images/twitter1.png" alt="twitter" class="gabrielleLinks2")
      ul(class="inline-list right")
        li: a(href='mailto:doctorgabi@gmail.com') Contact
        li |
        li: a(href='#' data-reveal-id="aboutModal" id="about") About
        li |
        li: a(href='/musicians') Musicians
        li |
        li: a(href='#') Bands
        li |
        li: a(href='#') Venues
        li |
        li: a(href='#') Managers
        li |
        li: a(href='#') Industry
div(id="aboutModal" class="reveal-modal" data-reveal)
  h2 MusicLync
  p This is a student project.
  p Nashville Software School is a 6 month software developer bootcamp for people with no previous experience coding.
  p The first three months focuses on the front-end and months 4 - 6 focus on back-end development.
  p During the final two weeks of the front-end part of the course each student must design and build their own web app to showcase some of the skills they have learned.
  p This is my web app; it's called MusicLync and is designed to bring musicians together. The idea is that the more people practice with different musicians, the better they become.
  p The minimum viable product is supposed to allow musicians to create their own profile and to find other musicians based on searchable attributes, such as what instruments are played, the musician's location, age group, etc. Musicians may post links to their own material and social media and may write reviews. They can add whether they teach and what their fees are for teaching, gigs or hiring their equipment.
  p The wider scope of the app would add in Bands, Venues, Managers and Industry. Each will be able to log in and create their own profiles and search for any of the other categories.
  p This project uses redis, jade, less, javascript, jQuery, express, foundation 5, lodash, grunt, ajax, mongoose, mongoDB, node and hosting with amazonaws and dreamhost. Obviously, version control is maintained with GitHub.
  a(href="#" class="close-reveal-modal") Close