footer(class="row")
  small-12.columns
    hr
  .row
    small-6.columns
      p(class='left') © Copyright Gabrielle Epstein 2013.
      ul(class="inline-list right")
        li: a(href='mailto:doctorgabi@gmail.com') Contact
        li: a(href='#') About
        li: a(href='https://github.com/doctorgabi/MusicLync') GitHub
        li: a(href='/musicians') Musicians
        li: a(href='#') Bands
        li: a(href='#') Venues
        li: a(href='#') Managers
        li: a(href='#') Industry