script(src="/javascripts/vendor/jquery-1.10.2.js")
script(src="/javascripts/vendor/foundation.min.js")
script(src="/javascripts/vendor/lodash.js")
script(src="/javascripts/vendor/moment-with-langs.js")
script(src="/socket.io/socket.io.js")
script(src="/javascripts/app/utilities.js")
script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrtuwr2lkgyefXmXH5J3jv9ka1Wq9Ub4k&sensor=true")
script(src="/javascripts/app/app.js")
